@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000000;
}

.navbar-brand{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 3px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

section#home {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section#home:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}

section#home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section#home img#moon {
    mix-blend-mode: screen;
}

section#home img#mountains_front {
    z-index: 10;
}

#text {
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 6px 15px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    transform: translateY(100px);
    z-index: 9;
}

.sec {
    position: relative;
    background: #1c0522;
}

.mh-skills .mh-skills-inner{
    padding-right: 60px;
}

.mh-skills .mh-professional-skill {
    color: white;
}

.mh-skills .mh-professional-skill h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

.mh-professional-skill {
    padding-left: 20%;
}

.candidatos {
    position: relative;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.candidatos .parcial {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.candidatos .parcial .info{
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.candidatos .parcial .info .nome{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9;
    font-family: 'Poppins', sans-serif;
}

.candidatos .parcial .info .percentage-num {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: normal;
}

.candidatos .parcial .progressBar {
    position: relative;
    width: 100%;
    height: 7px;
    margin: 30px 0 2px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.candidatos .parcial .percentagem{
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #0bceaf;
    -webkit-transition: 3s all;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: animationProgress;
    font-family: 'Poppins', sans-serif;
}

@keyframes animationProgress {
    from {
        width: 0;
    }
}

.mh-professional-skills {
    color: white;
}

.mh-professional-skills h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.mh-professional-progress li {
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center;
}

.mh-progress {
    margin-bottom: 10px;
    font: 900 1.14285/1 Cinczerl, cursive;
    color: white;
}

.mh-progress .progressbar-text {
    color: inherit !important;
    font-family: 'Poppins', sans-serif;
}

.progress.progress-line {
    height: 10px;
    margin-right: 60px;
}

.progress.progress-line .progressbar-text {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 60px;
    transform: translateY(-35%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.mh-progress.mh-progress-circle {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.mh-progress path:nth-child(1) {
    stroke: rgba(0, 0, 0, 0.7);
}

.mh-progress path:nth-child(2) {
    stroke: #0bceaf !important;
}

.ol, ul {
    padding-left: 0;
}

#home .color {
    position: absolute;
    filter: blur(150px);
}

#home .color:nth-child(1) {
    background: #ff359b;
    width: 400px;
    height: 400px;
    top: 200px;
    right: 140px;
}

#home .color:nth-child(2) {
    background: #00d2ff;
    width: 500px;
    height: 500px;
    bottom: -150px;
    left: 100px;
}

#home .color:nth-child(3) {
    background: #fffd87;
    width: 300px;
    height: 300px;
    bottom: 50px;
    right: 300px;
}

#sosmed {
    margin-top: 10%;
}

#sosmed .col {
    display: flex;
    justify-content: center;
}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover{
  width: 200px;
}

.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
  background: #1DA1F2;
}

.wrapper .button:nth-child(2):hover .icon{
    background: #E1306C;
}

.wrapper .button:nth-child(3):hover .icon{
    background: #7289d9;
}

.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i{
  color: #fff;
}

.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span{
  color: #1DA1F2;
}

.wrapper .button:nth-child(2) span{
    color: #E1306C;
}

.wrapper .button:nth-child(3) span{
    color: #7289d9;
}

footer{
    background-color: #1c0522;
    color: white;
    font-family: 'Poppins', sans-serif;
}

footer .col {
    background-color: #5000ca;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 20px;
}

@media (min-width: 991.98px) {
    nav ul li a {
        text-decoration: none;
        padding: 6px 15px;
        color: #fff;
        border-radius: 20px;
    } 

    nav ul li a:hover,
    nav ul li a.active {
        background: #fff;
        color: #2b1055 !important;
    }
}